* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: aqua;
}

/* text: harry potter memory game */
p {
    font-family: "Quicksand";
    font-size: 35px;
    text-align: center;
}

/* text: score */
h3 {
    font-family: "Quicksand";
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

/* css for grid */
#grid {
    width: 700px;
    height: 700px;
    row-gap: -30px;
    column-gap: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
    

}

#grid img {
    width: 160px;
    height: 160px;

}

@media screen and (max-width: 768px) {
    #grid {
        width: 500px;
        height: 500px;
    }
    #grid img {
        width: 85px;
        height: 85px;
    }
    p {
        font-size: 25px;
        margin-top: 20px;
        text-align: center;
    }
    h3 {
        font-size: 20px;
        text-align: center;
    }
}